<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!--------------- Top Button ------------>
    <button id="myBtn" class="open-button btn btn-outline-danger" onclick="topFunction()" >Go to Top</button>

    <!------------------ Main ------------------>
        <div class="row">
            <div class="col-5 my-col">
               <h2 class="portfolio">PORTFOLIO.</h2> 
               <p class="hello">Hello, My name is</p>
               <h1 class="name">Bhumika Manocha</h1>
               <p class="tagline"><i>-A Frontend developer with creative Marketing skills</i></p>
               <a href=""><button class="btn my-btn btn-warning btnm"  data-toggle="modal" data-target="#exampleModal">Know More</button></a> 
               <a href="Bhumika's Resume.pdf" target="_blank" download="CV">
                <button class="btn my-btn btn-danger btnm"  data-toggle="modal" data-target="#exampleModal">Download CV</button>
                </a> 

            </div>
            <div class="col-7 my-col">
                <div class="row">

                    <!------------- navbar -------------->
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                            <!-- <li class="nav-item active">
                              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li> -->
                            <li class="nav-item active">
                              <a class="nav-link" href="#about-block">About</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="#skills-block">Skills</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#education-block">Education</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#projects-block">Projects</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#experience-block">Experience</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#certification-block">Certifications</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#hobbies-block">Hobbies</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#contact-block">Contact</a>
                            </li>
                          </ul>
                        </div>
                      </nav>

                </div>
                <div class="row">
                    <img src="./images/bhu.png" alt="" height="600" width="668" class="img-main"> 
                </div>
            </div>
        </div>
        <!-- <br> <br> -->

        <!--------------- About Me -------------->
    <div style="background-color: #343a40; color: white ;" id="about-block"> <br>
    <div class="container" style="padding: 2%;">
    <div class=" mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./images/11.jpeg" class="card-img" alt="..." height="550"  style="border-radius: 24px; border: 2px solid white;"> 
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">About Me</h2>
              <p class="">Hi there, I'm a frontend developer by passion and profession with creative marketing skills and a dependable person prominent at management and interpersonal skills. I like to gain new experiences by meeting new people and loves to work in a professional environment.
                 Skills:-</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <div class="box">
                <div class="row" id="skills-block">
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">HTML</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">CSS/Bootstrap</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">Javascript</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">NodeJS</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">C/C++</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">DS/Algo</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">Marketing</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">SEO</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">Business Management & Communication</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">Management</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">Human Resources</button>
                    </div>
                    <div class="col-3 skill-col">
                        <button type="button" class="btn btn-success skill-btn">Interpersonal</button>
                    </div>
                </div>
            </div> <br>
           <a href="Bhumika's Resume.pdf" target="_blank" download="CV">
            <button type="button" class="btn btn-light" style=" width: 18rem;
            height: 3rem;
            font-size: 1.5rem;
            background-color: orangered;
            color: white;
            ">Download CV</button>
           </a>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<br> 
        <!--------------- Education -------------->
        <h1 id="education-block" style="text-align: center; color: whitesmoke;">Education</h1> <br>
        <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2014-2015<br>
      </div>
      <div class="item-title">Class X</div>
      <div class="item-detail">St. Mark's Girls Senior Secondary School <br>CGPA : 9.0 </div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2016-2017<br>
      </div>
      <div class="item-title">Class XII</div>
      <div class="item-detail">St. Mark's Girls Senior Secondary School <br>Percentage : 84.6%</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2017-2021<br>
      </div>
      <div class="item-title">Btech in CSE</div>
      <div class="item-detail">Bharati Vidyapeeth's College of Engineering <br> CGPA till Semester V : 8.47 </div>
    </li>

  </ul>

</div>

        <!--------------- Projects -------------->
        <div  id="projects-block" class="" style="background-image:linear-gradient(rgb(78, 78, 78),rgb(235, 229, 229),rgb(78, 78, 78));"> <br> <br>
          <h1 style="text-align: center; ">Projects</h1> 
          <br>
          <div class="container" id="event-block">
    
    <div class="row">
    
    <div class="containerr boxx col-md-4 col-xs-12">
        <img src="./images/icon-of-red-devil-vector-18879110.jpg" class="card-img-top" alt="Avatar" class="image" height="300"  >
        <div class="card-body">
            <h5 class="card-title" style="color: black;"><b> playlikehell </b></h5>
            <p class="card-text"><small class="text-muted">October 2019 - December 2019</small></p>
        </div>
        <div class="overlay">
          <div class="text" >
          <b> playlikehell </b> <br>
            <p style="font-size: 12px;">A webapp containing 4 amazing games build with front-end technologies.
               <br><br> Technologies Used : HTML, CSS, Bootstrap, Javascript</p>
            <b> <a href="https://playlikehell.netlify.app/" target="_blank" style="color:rgb(250, 66, 66);">Visit Website</a> </b>
          </div>
        </div>
      </div>
    
      <div class="containerr boxx col-md-4 col-xs-12">
        <img src="./images/undraw_real-time_sync_o57k.png" class="card-img-top" alt="Avatar" class="image" height="300">
        <div class="card-body">
            <h5 class="card-title" style="color: black;"><b> ERP </b></h5>
            <p class="card-text"><small class="text-muted">June 2020 - July 2020</small></p>
        </div>
        <div class="overlay">
          <div class="text" >
           <b>ERP</b> <br>
            <p style="font-size: 12px;">
               <br><br> Technologies Used : HTML, CSS, Bootstrap, Javascript, NodeJS, Express, Handlebars, Mongodb</p>
               <b> <a href="" target="_blank" style="color:blue">Visit Website</a> </b>
              </div>
        </div>
      </div>
    
      <div class="containerr boxx col-md-4 col-xs-12">
        <img src="./images/blue.jpg" class="card-img-top" alt="Avatar" class="image" height="300">
        <div class="card-body">
            <h5 class="card-title" style="color: black;"><b>  BlueKitchen  </b></h5>
            <p class="card-text"><small class="text-muted">July 2020</small></p>
        </div>
        <div class="overlay">
          <div class="text" >
            BlueKitchen <br>
            <p style="font-size: 12px;"> A web app of recipe search by ingredients build using RESTful API with HTTP and JavaScript.
               <br><br> Technologies Used : HTML, CSS, Bootstrap, Jquery, RESTful API, HTTP, AJAX and JSON </p>
               <b> <a href="https://bluekitchen.netlify.app/" target="_blank" style="color:blue">Visit Website</a> </b>
              </div>
        </div>
      </div>
    
      <div class="containerr boxx col-md-4 col-xs-12">
        <img src="./images/heart-box-psd-background-photoshop-psds.jpg" class="card-img-top" alt="Avatar" class="image" height="300">
        <div class="card-body">
            <h5 class="card-title" style="color: black;"><b> HeartBox </b></h5> 
            <p class="card-text"><small class="text-muted">July 2020 - Present</small></p>
        </div>
        <div class="overlay">
          <div class="text" >
         <b>  HeartBox </b><br> 
            <p style="font-size: 12px;">
               <br><br> Technologies Used : HTML, CSS, Bootstrap, Javascript, ReactJS, NodeJS, Express, Mongodb</p>
               <b> <a href="https://playlikehell.netlify.app/" target="_blank" style="color:rgb(250, 66, 66);">Visit Website</a> </b>
              </div>
        </div>
      </div>
    
      
      
     </div>
    </div>
    <br> <br>
    </div>
        </div> 
        <!-------------------- Experience ----------------->
          <div class="container" style="padding: 5rem; background-color: ;"> 
            <h1 style="text-align: center; ">Experience</h1>  <br> <br>
            <div class="row">
              
              <div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./images/wacm.png" class="card-img exp_logo" alt="..." height="238" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="float: left;">Chaiperson</h5>
                      <p class="card-text" style="float: right;"><small class="text-muted">July, 2020 - Present</small></p>
                      <button type="button" class="btn btn-dark btn-exp">Association for Computing Machinery Women(ACM-W) : Student Chapter of BVP</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./images/incampus.png" class="card-img exp_logo" alt="..." height="238" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" style="float: right;"><small class="text-muted">July, 2020 - Present</small></p> 
                      <h5 class="card-title" style="float:">Community Manager</h5> 
                      <button type="button" class="btn btn-dark btn-exp">InCampus Ltd.</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div><div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./images/monktree.png" class="card-img exp_logo" alt="..." height="240" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="float: left;">Frontend Web Developer</h5>
                      <p class="card-text" style="float: right;"><small class="text-muted">January, 2020 - March, 2020</small></p>
                      <button type="button" class="btn btn-dark btn-exp">Monktree Education Pvt. Ltd.</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./images/aap.jpg" class="card-img exp_logo" alt="..." height="238" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="float: left;">Volunteer Developer</h5>
                      <p class="card-text" style="float: right;"><small class="text-muted">November, 2019 - December, 2019</small></p>
                      <button type="button" class="btn btn-dark btn-exp">Aam Aadmi Party(AAP) : Delhi Government</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./images/eduminerva.jpeg" class="card-img exp_logo" alt="..." height="238" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="float: left;">Creativity & Workshop Designing Head</h5>
                      <p class="card-text" style="float: right;"><small class="text-muted">August, 2019 - July, 2020</small></p>
                      <button type="button" class="btn btn-dark btn-exp">EduMinerva</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./images/wtm2.jpg" class="card-img exp_logo" alt="..." height="238" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" style="float: right;"><small class="text-muted">August, 2019 - Present</small></p>
                      <h5 class="card-title" style="float: left;">Web Developer Expert</h5>
                      <button type="button" class="btn btn-dark btn-exp">Women Techmakers(WTM-BVP)</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="./images/acm.jpg" class="card-img exp_logo" alt="..." height="238" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="float: left;">Web Developer Executive</h5>
                      <p class="card-text" style="float: right;"><small class="text-muted">August, 2019 - July, 2020</small></p>
                      <button type="button" class="btn btn-dark btn-exp">Association for Computing Machinery(ACM-BVP) : Student Chapter of BVP</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="card mb-3" style=" color: black; height: 15rem;" >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="....." class="card-img exp_logo" alt="..." height="238" width="80">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="float: left;">Chaiperson</h5>
                      <p class="card-text" style="float: right;"><small class="text-muted">July, 2020 - Present</small></p>
                      <button type="button" class="btn btn-dark btn-exp">.......</button> <br>
                      <p class="card-text">Being lead of the women chapter of the society, there are number of ways through which I with my team try to empower women in tech my provdiding them with relevant opportunites time to time. We conduct various successfulevents and also invite elite guest speakers to deliver talks. I motivate my team to build projects and conduct events and workshops.</p>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="more" style="">
                  
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <h3>Some more Experience & Achievements</h3>
                  </li>
                  <li class="list-group-item">
                    <p>Successfully organised hack.IT@BVP 2k19</p>
                    <footer class="blockquote-footer">Organised a 24hr hackathon at our college<cite title="Source Title"></cite></footer>
                  </li>
                  <li class="list-group-item">
                    <p>Volunteer at BVEST 2019</p>
                    <footer class="blockquote-footer">Registered and handled the database of all the students participating at technical fest<cite title="Source Title"></cite></footer>
                  </li>
                  <li class="list-group-item">
                    <p>Teaching Experience</p>
                    <footer class="blockquote-footer">Took sessions on web development in college<cite title="Source Title"></cite></footer>
                    <footer class="blockquote-footer">Uploaded a youtube video teaching Javascript<cite title="Source Title"></cite></footer>
                  </li>
                  <li class="list-group-item">
                    <p>National Service Scheme(NSS)</p>
                    <footer class="blockquote-footer">Volunteer in Swachh Bharat Abhiyan and completed 100 hours of cleaning in parks and roads in Paschim Vihar area.<cite title="Source Title"></cite></footer>
                    <footer class="blockquote-footer">Went to Chandu gaon near Gurgaon and did survey about<cite title="Source Title"></cite></footer>
                  </li>
                  <!-- <li class="list-group-item">
                    <p>..</p>
                    <footer class="blockquote-footer">..<cite title="Source Title"></cite></footer>
                  </li> -->
                  
                </ul>
              </div>
   
            </div>
          </div>            
              <!-------------------- Certifications ----------------->
              
              <div id="certification-block" style="background-image:linear-gradient(black,rgb(105, 104, 104),black);"> <br> <br>
                <h1 style="text-align: center; ">Certifications</h1> 
                <br>

        
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="card text-white bg-success mb-3" style="margin-bottom: 10rem";>
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="certi_logo" src="./images/cb.jpg" alt="Card image cap" height="130" width="130">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Web Development with NodeJS</h4>
                                    <p class="card-text date">June, 2019 - July, 2019</p>
                                    <a href="https://drive.google.com/file/d/1-pzT7BK4BHjPuEVuCe8_NRPgchXRMF72/view?usp=sharing" target="_blank"><button type="button" class="btn btn-outline-light">View Certificate > ></button></a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <div class="card text-white bg-primary mb-3">
                          <div class="card-horizontal">
                            <div class="img-square-wrapper">
                              <img class="certi_logo" src="./images/google_digital_garage_2020.jpg" alt="Card image cap" height="130" width="130">
                          </div>
                          <div class="card-body">
                              <h4 class="card-title">Fundamentals of Digital Marketing</h4>
                              <p class="card-text date">March, 2020 - April, 2020</p>
                              <a href="https://drive.google.com/file/d/1kzSmzbI6Rj3TZNxaElaAoGd4vTiP_j2B/view?usp=sharing" target="_blank"><button type="button" class="btn btn-outline-light">View Certificate > ></button></a>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div class="card text-white bg-danger mb-3">
                        <div class="card-horizontal">
                          <div class="img-square-wrapper">
                            <img class="certi_logo" src="./images/MSME-Logo.jpg" alt="Card image cap" height="130" width="130">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Business Management Excellence</h4>
                            <p class="card-text date">March, 2020</p>
                            <a href="https://drive.google.com/drive/u/0/folders/1NZjT_sSzCHSRzqB_Vyahl5XLB9kwVYwb" target="_blank"><button type="button" class="btn btn-outline-light">View Certificate > ></button></a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <div class="card text-white bg-info mb-3">
                      <div class="card-horizontal">
                        <div class="img-square-wrapper">
                          <img class="certi_logo" src="./images/tata-steel.jpg" alt="Card image cap" height="130" width="130">
                      </div>
                      <div class="card-body">
                          <h4 class="card-title">MS Office and Advance Excel</h4>
                          <p class="card-text date">May, 2020</p>
                          <a href="https://drive.google.com/drive/u/0/folders/1NZjT_sSzCHSRzqB_Vyahl5XLB9kwVYwb" target="_blank"><button type="button" class="btn btn-outline-light">View Certificate > ></button></a>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-xs-12">
                <div class="card text-dark bg-warning mb-3">
                    <div class="card-horizontal">
                      <div class="img-square-wrapper">
                        <img class="certi_logo" src="./images/coursera-logo-square.jpeg" alt="Card image cap" height="130" width="130">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Modern JavaScript: ES6 Basics</h4>
                        <p class="card-text date">July, 2020</p>
                        <a href="https://www.coursera.org/account/accomplishments/certificate/JZ28PFHPYY8T" target="_blank"><button type="button" class="btn btn-outline-dark">View Certificate > ></button></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="card text-dark bg-light mb-3">
                  <div class="card-horizontal">
                    <div class="img-square-wrapper">
                      <img class="certi_logo" src="./images/coursera-logo-square.jpeg" alt="Card image cap" height="130" width="130">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">RESTful API with HTTP and JavaScript</h4>
                      <p class="card-text date">July, 2020</p>
                      <a href="https://www.coursera.org/account/accomplishments/certificate/G3XBDN6PALY8" target="_blank"><button type="button" class="btn btn-outline-dark">View Certificate > ></button></a>
                    </div>
                  </div>
              </div>
          </div>
                </div>
            </div>
            </div>
<br> <br>

        <!-------------------- Hobbies ----------------->
            <div id="hobbies-block" class="hobby"> <br> <br>
              <h1  style="text-align: center; color: whitesmoke;">Hobbies & Interests</h1> <br>
              <div class="row">
                <div class="arrow bounce col-md-3">
                  <p class="fa fa-headphones fa-2x" style="color: aqua;">Music and Dance</p>
                </div>
                <div class="arrow bounce col-md-3">
                  <p class="fa fa-camera-retro fa-2x" style="color: rgb(240, 60, 60);">Photography</p>
                </div>
                <div class="arrow bounce col-md-3">
                  <p class="fa fa-heartbeat fa-2x" style="color: chartreuse;">Social Services</p>
                </div>
                <div class="arrow bounce col-md-3">
                  <a class="fas fa-plane fa-2x" style="color: yellow;">Travelling</a>
                </div>
              </div>
              <br> <br>
            </div>

        <!-------------------- Footer ----------------->


<footer id="contact-block">
      <br>
             
                  <div class="content">
                      <h3 class="f-title f_600 t_color f_size_18">LET'S CONNECT</h3>
                      <div class="icons">
                        <a href="https://www.facebook.com/profile.php?id=100015054753969" class="fa fa-facebook-square common" style="font-size:36px"></a>
                        <a href="https://www.mail.google.com/bhumika.manocha@gmail.com" class="fa fa-envelope common" style="font-size:36px"></a>
                        <a href="https://www.linkedin.com/in/bhumika-manocha-762128168/" class="fa fa-linkedin common" style="font-size:36px"></a>
                        <a href="https://github.com/BhumikaManocha" class="fa fa-github common" style="font-size:36px"></a>
                        <a href="https://twitter.com/BhumikaManocha" class="fa fa-twitter common" style="font-size:36px"></a>
                        <a href="https://www.instagram.com/binbhumihinhumiuinumiminmiiini/" class="fa fa-instagram common" style="font-size:36px"></a>
                       </div>
                       <p style="font-size: small;"> <i> ©Bhumika Manocha, All rights reserved since 2020. </i></p>

                  </div>
              <!-- </div> -->
         
     
</footer>
<!-- <br> -->








   
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
</script>

</body>
</html>